aiohttp==3.8.4
fastapi~=0.103.1
pydantic~=2.4.2
python_bcrypt==0.3.2
Requests==2.31.0
rich~=13.5.3
SQLAlchemy~=2.0.21
uvicorn==0.23.2
cashews~=6.3.0
py-bcrypt
aiomysql
python-multipart
jmespath~=1.0.1
redis
jinja2
gunicorn
psycopg2
asyncpg
python-bcrypt
python-dotenv~=1.0.0
fastapi-events
alembic