body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.green {
    color: var(--success-color);
}


.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    z-index: -100;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.wrapper {
    background-color: #2B2D39;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
}
.information {
    margin-left: 20px;
    text-align: start;
}


.stats-wrap{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    max-height: 250px;
    background: rgb(244,14,142);
    background: linear-gradient(225deg, rgba(244,14,142,1) 15%, rgba(255,137,0,1) 77%);
    border-radius: 8px;
    animation: Wrapper-anim 2s infinite
  }
  
.level-wrap{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    max-height: 250px;
    background: rgb(14,211,244);
    background: linear-gradient(225deg, rgba(14,211,244,1) 15%, rgba(31,0,255,1) 77%);
    border-radius: 8px;
    animation: Wrapper-anim 2s infinite
  }
.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #373B64;
    margin: 3px;
    padding: 50px;
    
    /* padding: 8px 50px; */
    border-radius: 8px;
}
.level{
    display: flex;
    flex-direction:row;
    background-color: #373B64;
    margin: 3px;
    padding: 10px;
    
    /* padding: 8px 50px; */
    border-radius: 8px;
}
.level-information{
    margin-left: 20px;
    line-height: 50px;
}
.gdps-block {
    display: flex;
    justify-content: center
}
.level-difficulty{
    max-width: 80px;
}

@media only screen and (max-width: 450px){
    .gdps-block {
        flex-direction: column-reverse;
    }
    .level-wrap{
        display: none;
    }
}

@keyframes Wrapper-anim {
    from {background-size: 100%;}
    50% {background-size: 200%;}
    to {background-size: 100%;}
  }

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}